<div class="subcategories">
    <div class="mountain-sec">
        <h2>MOUNTAIN BIKES</h2>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory">
                <img src="~/Content/Gemagrafi/images/bik3.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory">
                <img src="~/Content/Gemagrafi/images/bik1.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory none2">
                <img src="~/Content/Gemagrafi/images/bik4.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory none1">
                <img src="~/Content/Gemagrafi/images/bik6.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>

    <div class="singlespeed-sec">
        <h2>SINGLE SPEED-BIKES</h2>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory">
                <img src="~/Content/Gemagrafi/images/s1.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory">
                <img src="~/Content/Gemagrafi/images/s2.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory none2">
                <img src="~/Content/Gemagrafi/images/s3.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory none1">
                <img src="~/Content/Gemagrafi/images/s4.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>

    <div class="road-sec">
        <h2>ROAD-BIKES</h2>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory">
                <img src="~/Content/Gemagrafi/images/r1.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory">
                <img src="~/Content/Gemagrafi/images/r3.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory none2">
                <img src="~/Content/Gemagrafi/images/r2.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <a href="@Url.Action("Single", "Home")">
            <div class="subcategory none1">
                <img src="~/Content/Gemagrafi/images/r4.jpg" alt="" />
                <div class="subcategory-cost">
                    <div class="subcategory-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="subcategory-cart">
                        <a class="buy" href="@Url.Action("Single", "Home")">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="@Url.Action("Single", "Home")">Quick View</a>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>

</div>